

.main-head {
    background-color: #1F2937;;
}
.nav {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     
    color: white;
    font-weight: 800;
    padding: 30px 200px;
    

}
.navs {
    list-style: none;
    text-decoration: none;
    margin-right: 2rem;
}
.navs:first-child {
    margin-right: auto;
    font-size: x-large;
}

.second-head {
display: flex;
padding: 5px 200px 100px 200px;
}

.awesome {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    
    justify-content: flex-start;
    flex: 1;
    flex-wrap:  wrap;
}
.main-pic {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;

}
h1 {
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.first-p {
    font-size: 18px;
    color: #e5e7eb;the
}

.firstb {
    margin-right: 600px;
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    border-radius: 8px;
    padding: 10px;
}


.random {
    display: flex;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    justify-content: center;
    align-items: center;
}
.images {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}
.small {
    border: solid;
    border-color: #3882f6;
    border-radius: 20px;
}

.paragraphs {
    display: flex;
    gap: 85px;
    justify-content: center;
    align-items: center;
}

.paragraph {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:75px 400px;
    background-color: #e5e7eb;
}
.quote {
    font-size: 36px;
    font-style: italic;
color: #1f2937;

}
.sun {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
color: #1f2937;
text-align: end;
}


.inside {
    background-color: #3882f6;
    display:  flex;
    border-radius: 7px;
    padding: 20px 80px;
    justify-content: space-between;
    align-items: center;
    margin: 70px 150px;
    
}


.lastb {
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    border-radius: 8px;
    padding: 10px;
    border-color: white;
}


.footer {
    display: flex;
}